/*FONTS*/
@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-ExtraBold.ttf") format("truetype");
  font-weight: 700; /* Extra weight */
}
/*=======================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: "MTNBrighterSans", sans-serif;
  box-sizing: border-box;
}
/*=======================================================*/
body {
  background-color: #f0f0f0;
  background-image: url(unscrambler.jpg);
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
}
/*=======================================================*/
#container {
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  backdrop-filter: blur(6px);
  border: 1px solid #ffffffc4;
}
/*=======================================================*/
#container strong {
  font-weight: bold;
}
/*=======================================================*/
#container h1 {
  font-weight: bold;
  color: #ff7000;
}
/*=======================================================*/
#scrambled-word,
#category {
  margin-bottom: -25px;
}
/*=======================================================*/
#word-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #000000e3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*=======================================================*/
p {
  font-size: 18px;
  margin: 10px 0;
}
/*=======================================================*/
input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #6028007c;
  border-radius: 5px;
  margin-top: 10px;
}
/*=======================================================*/
button {
  font-size: 16px;
  padding: 5px 8px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff7000;
  color: #fff;
  transition: background-color 0.3s ease;
}
/*=======================================================*/
/*button:hover {
  background-color: #000000;
  color: #ff7000;
  border-radius: 10px;
}*/
/*=======================================================*/
#current-score {
  font-weight: 400;
  color: #b4b4b4;
  background-color: #00000000;
  padding: 0px 40px 0px 40px;
  justify-content: center;
  text-align: center;
}
/*=======================================================*/
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
/*=======================================================*/
#skip-button,
#submit-button {
  display: inline-block;
  padding: 10px;
}
/*=======================================================*/
#skip-button {
  order: 1;
  margin-right: 10px;
}
/*=======================================================*/
#submit-button {
  order: 2;
}
/*=======================================================*/
.correct {
  color: green;
}
/*=======================================================*/
.incorrect {
  color: red;
}
/*=======================================================*/
#category strong {
  color: #ff7000;
}
/*=======================================================*/
#scrambled-word strong {
  color: #ff7000;
}
/*=======================================================*/
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #000000c5;
  position: fixed;
  bottom: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 0;
  backdrop-filter: blur(6px);
  border: 1px solid #ffffff27;
}
/*=======================================================*/
.footer p {
  color: #aaaaaa;
}
/*=======================================================*/
#unscramble-word {
  color: #fff;
}
/*=======================================================*/
